.menu {

    ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    a{
        font-size: 13px;
        text-transform: uppercase;
        line-height: 14px;
        font-weight: 600;
        color: black;
        text-decoration: none;
        font-family: 'Dosis';
        letter-spacing: 0.76px;
        padding-bottom: 23px;

        &:hover{
            border-bottom: 5px solid $red; 
            // outline: 3px solid black;

        }
    }


}
@media (max-width: 900px){
    .menu a {
        font-size: 14px;

    }
}