.partners{
    padding: 115px 915px;
    .main__paragraph{
        font-size: 24px;
        line-height: 34px;
        width: 424px;
    }
    svg{
        width: 950px;
        height: 591px;
        margin: 24px -163%;
    }
}