.partners{
    .main__paragraph{
        display: flex;
        justify-content: center;
        padding: 65px 12px;
    >p{
        font-size: 24px; 
        text-align: center;
        line-height: 34px;
    }

    }
             ul{  
            padding: 10px 90px;
            font-size: 24px;  
            line-height: 34px;
            li{
                list-style-image: url('../../img/plus.png'); 
                 padding: 15px 15px;

            }

        }

    

    
}
@media(max-width: 715px){
    .partners .main__paragraph > p{
        padding: 20px;
        font-size: 20px;

    }
}
@media(max-width: 725px){
    .partners{

        ul{  
            font-size: 15px;  
            li{
                list-style-image: url(../../img/plus.png);
                padding: 0px;
                width: 100%;
                 img{
                    width: 50%;
                }
            }

        }

    }
}
